/* Reset padrão */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para a lista de Pokémon */
#pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Define 3 colunas com largura mínima de 300px */
    grid-gap: 20px;
    /* Espaçamento entre os itens */
    padding: 30px;
}

/* Estilos para os nomes dos Pokémon */
.pokemon-name {
    font-family: sans-serif;
    /* Ou qualquer outra fonte padrão do sistema */
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para o contêiner dos Pokémon */
#pokemon-container {
    position: relative;
    width: 100px;
    /* Largura da imagem do Pokémon */
    height: 100px;
    /* Altura da imagem do Pokémon */
}

/* Estilos para a imagem do Pokémon */
#pokemon-image {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    /* Ajuste conforme necessário */
    height: 200px;
    /* Ajuste conforme necessário */
    transition: transform 0.5s ease;
    /* Transição para suavizar o movimento */
    cursor: pointer;
    /* Altera o cursor para indicar que a imagem é clicável */
}

.pokeball {
    background-image: url('pokebola.png');
    /* Imagem da Pokébola */
    background-size: cover;
    width: 100px;
    /* Largura da Pokébola */
    height: 100px;
    /* Altura da Pokébola */
    position: absolute;
    /* Posição absoluta para sobrepor a imagem do Pokémon */
    pointer-events: none;
    /* Permite que os eventos de clique passem pela Pokébola */
    transition: transform 0.5s ease;
    /* Transição para suavizar o movimento */
}

.pokeball.open {
    transform: scale(2);
    /* Aumenta o tamanho da Pokébola para esconder o Pokémon */
}

.pokeball.closed {
    transform: scale(1);
    /* Tamanho normal da Pokébola */
}

/* Botão 'Load More' */
.button {
    position: fixed;
    bottom: 20px;
    left: calc(50vw - 320px); /* Posiciona o botão 'Load More' à esquerda */
    height: 50px;
    width: 50px; /* Agora é um círculo */
    background-image: none;
    border: none;
    border-radius: 50%; /* Deixa o botão totalmente redondo */
    outline: none;
    background-color: #f56464;
    color: white;
    text-align: center; /* Centraliza o texto */
    line-height: 50px; /* Centraliza o texto verticalmente */
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* Estilos para o menu contextual */
.feedPokemon {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f56464;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.context-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #d84315;
}

/* Botão 'Load All' */
.buttonAll {
    position: fixed;
    bottom: 20px;
    left: calc(50vw + 120px); /* Posiciona o botão 'Load All' à direita */
    height: 50px;
    width: 50px; /* Agora é um círculo */
    background-image: none;
    border: none;
    border-radius: 50%; /* Deixa o botão totalmente redondo */
    outline: none;
    background-color: #f56464;
    color: white;
    text-align: center; /* Centraliza o texto */
    line-height: 50px; /* Centraliza o texto verticalmente */
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* Símbolos nos botões */
.button::after {
    content: "100"; /* Símbolo de seta para baixo + texto */
}

.buttonAll::after {
    content: "All"; /* Texto + símbolo de seta para cima */
}

/* Indicador de carregamento */
.loading {
    position: fixed;
    bottom: 20px;
    top: calc(32vw - 200px); /* Posiciona o loading no centro horizontalmente */
    left: calc(51vw - 200px); /* Posiciona o loading no centro horizontalmente */
    /* Ajuste conforme necessário */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    position: relative;
    box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
    animation: roll 1s ease-in-out infinite;
    background: linear-gradient(to bottom,
            #e83e35 0%,
            #e83e35 50.5%,
            #ffffff 50.51%,
            #ffffff 100%);
}

.loading:after {
    content: "";
    position: absolute;
    top: calc(100px - 3px);
    left: 0;
    width: 200px;
    height: 6px;
    background: #3f3f3f;
}

.loading:before {
    content: "";
    position: absolute;
    top: 67px;
    left: 67px;
    width: 54px;
    height: 54px;
    border: solid 6px #3f3f3f;
    border-radius: 50%;
    background: white;
    z-index: 1;
    box-shadow: 0 0 15px -2px #c62828 inset;
    animation: button 3s ease infinite;
}

/* Animações */
@keyframes roll {
    from {
        transform: rotate(0);
    }

    90%,
    to {
        transform: rotate(720deg);
    }
}